:root {
  /* color */
  --background-color: #181719;

  /* font */
  --logo-font: 'Crimson Pro', sans-serif;
  --heading-font: 'Lora', sans-serif;
  --main-font: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3 ease-in-out;
  color: #ffffff;
}

body {
  background: var(--background-color);
}

.container {
  max-width: 1288px;
  /* max-width: 1420px; */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.navbar .container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  border: 1px solid #ffffff;
  padding: 8px;
}

.navbar .logo span {
  /* font-family: var(--logo-font); */
  font-weight: 200;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar .menu-wrapper {
  display: flex;
}

.navbar .menu-wrapper .menu {
  display: flex;
  justify-content: space-between;
}

.navbar .menu a {
  margin: 0 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.menuOpen,
.menuClose {
  display: none;
  cursor: pointer;
}

.navbar .menu-wrapper a.actived {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}

/******* HERO SECTION *******/
.hero {
  margin-top: 140px;
}
.hero .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .content-left {
}

.content-left .heading {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  margin-top: 38px;
  margin-bottom: 25px;
}

.content-left .subheading {
  margin-top: 40px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  width: 410px;
  height: 145px;
}

.content-left span {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.content-right {
  position: relative;
}

.content-right .thumnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 55vh;
  margin: 0 auto;
}

.content-right .thumnail img {
  width: 100%;
}

.hero .card {
  position: absolute;
  bottom: -80px;
  right: 40px;
  background-color: #181719;
  width: 410px;
  height: 189px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  margin-top: -60px;
  margin-left: 190px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card .card-header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 18px;
}

.card .card-avatar img {
  width: 50px;
  margin-left: 8px;
  border-radius: 50%;
  border: none;
}

.card-header .card-info {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 500;
}

.card-info .card-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.card-info .card-job {
  margin-top: 6px;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.card .card-description {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  width: 65%;
  margin-left: 16px;
}

.footer-text .container {
  margin: 0 auto;
}

.footer-text {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
  color: #a9a9a9;
}

.footer-text a {
  font-weight: 700;
  text-decoration: none;
  margin: 0 8px;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 375px) {
  .navbar {
    height: 80px;
  }

  .navbar .container {
    margin: 0 12px;
  }

  .navbar .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #181719;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.4s ease-in-out;
  }

  .navbar .menu-wrapper.active {
    clip-path: circle(141.4% at 100% 0);
    transition: 0.4s ease-in-out;
  }

  .navbar .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .navbar .menu a {
    display: block;
    color: #181719;
  }

  .navbar .menu a.actived {
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #181719;
    color: #181719;
  }

  .menuOpen {
    display: inherit;
    font-size: 32px;
  }

  .navbar .menuClose {
    display: inherit;
    position: absolute;
    top: 26px;
    right: 37px;
    font-size: 32px;
    color: #181719;
    z-index: 99;
  }
}
